body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
}
@media (width >= 1280px) {
    body {
        font-size: 1.1em;
    }
}
*,
*::after,
*::before {
    box-sizing: border-box;
}

input,
button {
    font: inherit;
}
