body {
    margin: 0;
    font-family: sans-serif;
    line-height: 1.5;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}

.container {
    padding-inline: 10px;
}

input,
button {
    font: inherit;
}
